<%- include('../components/header.ejs'); %>
<script>
  let confirmationDialog =(name)=>{
    Swal.fire({
    title: "Do you want to delete data?",
    showDenyButton: true,
    icon:"question",
    confirmButtonText: "Yes",
    denyButtonText: "No"
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
            document.forms[name].submit();
          }
      });
    }
</script>
  <!--begin::Body-->
  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <!--begin::App Wrapper-->
    <div class="app-wrapper">
      <%- include('../components/navbar.ejs'); %>
      <%- include('../components/sidebar.ejs'); %>
      <!--begin::App Main-->
      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Category</h3></div>
              <% if(alertMessage) {%>
                <script type="module">Swal.fire({
                    icon: "<%= alertStatus %>",
                    title: "<%= alertMessage %>",
                    showConfirmButton: false,
                    timer: 1500
                  });</script>
                <% } %>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="/category">Master</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Category</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
         <!-- Fill contents here !!! -->
          <!--begin::Container-->
          <div class="container-fluid">
            <!-- Timelime example  -->
            <div class="row">
              <div class="col-12">
                <!-- The icons -->
                <div class="col-12">
                  <div class="card card-primary card-outline">
                    <div class="card-header"><a href="/category/create"><button type="submit" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Add</button></a></div>
                    <div class="card-body">
                      <table id="example" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% category.forEach((e,i)=>{ %>
                              <tr>
                                <td><%= i+1 %></td>
                                <td><%= e.name %></td>
                                <td>
                                    <span class="d-flex flex-row">
                                      <a href="/category/edit/<%= e._id %> "><button class="btn btn-info m-1 btn-md">Update</button></a>
                                      <form method="POST" action="/category/delete?_method=DELETE" name="delete-category<%= i+1 %>"><input type="hidden" name="id" value="<%= e._id%>"><button type="button" class="btn btn-danger btn-md m-1" onclick="confirmationDialog('delete-category<%= i+1 %>')">Delete</button></form>
                                    </span>
                                </td>
                              </tr>
                            <%}) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!--end::App Content-->
      </main>
      <!--end::App Main-->

<%- include('../components/footer.ejs'); %>
<script type="module">
  new DataTable('#example');
</script>


