<%- include('../components/header.ejs'); %>
  <!--begin::Body-->
  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <!--begin::App Wrapper-->
    <div class="app-wrapper">
      <%- include('../components/navbar.ejs'); %>
      <%- include('../components/sidebar.ejs'); %>
      <!--begin::App Main-->
      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Edit Game</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="/game">Master</a></li>
                  <li class="breadcrumb-item active">Game</li>
                  <li class="breadcrumb-item active" aria-current="page">Edit Game</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
         <!-- Fill contents here !!! -->
          <div class="card card-primary card-outline mb-4">
            <!--begin::Header-->
            <div class="card-header"><div class="card-title">Edit Form </div></div>
            <!--end::Header-->
            <!--begin::Form-->
            <form method="POST" action="/game/edit?_method=PUT">
              <!--begin::Body-->
              <div class="card-body">
                <div class="mb-3">
                  <input type="hidden" name="id" value="<%= game._id%>">
                  <label for="gameName" class="form-label">Name*</label>
                  <input
                    type="onput"
                    class="form-control"
                    id="gameName"
                    aria-describedby="emailHelp"
                    placeholder="Input Game Name"
                    name="name"
                    value="<%= game.name%>"
                    required
                  />
                  <label for="categoryId" class="form-label mt-2">Category*</label>
                  <select class="select-category form-control" name="categoryId">
                    <% category.forEach((e,i)=>{ %>
                      <% if(game.categoryId==e._id.toString()) {%>
                        <option value="<%= e._id %>" selected><%= e.name %></option>
                      <% }else{ %>
                        <option value="<%= e._id %>"><%= e.name %></option>
                      <%}%>
                    <% }) %>
                  </select>
                </div>
              </div>
              <!--end::Body-->
              <!--begin::Footer-->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <!--end::Footer-->
            </form>
            <!--end::Form-->
          </div>
        </div>
        <!--end::App Content-->
      </main>
      <!--end::App Main-->

<%- include('../components/footer.ejs'); %>
<script>
  $(document).ready(function() {
    $('.select-category').select2();
  });
</script>
